In [16]:
import pandas as pd
import numpy as np
belize_listing_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listing_path)

#belize_df.head()
belize_df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365

In [17]:
belize_df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.796000e+03,2.796000e+03,2796.000000,2796.000000,2796.000000,2796.000000,2796.000000,1810.000000,2796.000000,2796.000000
mean,2.792490e+07,1.240278e+08,17.448295,-88.292035,357.102289,2.263948,14.453505,0.538088,22.848355,280.315451
std,1.288964e+07,1.018001e+08,0.537440,0.383876,563.124825,5.669843,30.327768,0.662154,51.711183,120.617632
min,3.666600e+04,1.507890e+05,16.079260,-89.150680,20.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.870854e+07,4.389292e+07,17.129573,-88.371015,135.000000,1.000000,0.000000,0.110000,2.000000,221.000000
50%,2.891586e+07,9.171577e+07,17.735145,-88.205560,220.000000,2.000000,2.000000,0.275000,6.000000,349.000000
75%,3.977962e+07,1.875677e+08,17.913837,-87.973793,394.250000,3.000000,13.000000,0.700000,14.000000,364.000000
max,4.833222e+07,3.890334e+08,18.468140,-87.593140,11788.000000,180.000000,316.000000,5.920000,204.000000,365.000000

In [19]:
belize_df[["price","minimum_nights", "number_of_reviews"]].mean()
belize_df[["number_of_reviews"]].mean()

price                357.102289
minimum_nights         2.263948
number_of_reviews     14.453505
dtype: float64

In [21]:
belize_df[["price","minimum_nights", "number_of_reviews"]].median()

price                220.0
minimum_nights         2.0
number_of_reviews      2.0
dtype: float64

In [22]:
belize_df[["price","minimum_nights", "number_of_reviews"]].mode()

   price  minimum_nights  number_of_reviews
0    151             1.0                0.0
1    252             NaN                NaN

In [ ]:
import matplotlib.pyplot as plt
n bins, patches = plt.hist(x=belize_df['price'], bins = 'auto')
plt.xlabel('price')
plt.xlabel('frequency')

In [23]:
def variance(data, ddof=0):
    n = len(data)
    mean = sum(data)/n
    variance = sum((x-mean)**2 for x in data/(n-ddof)

SyntaxError: incomplete input (3363498646.py, line 4)

In [24]:
# variance - 1 dof if a sample but 0 if a population
variance(belize_df['price'])

NameError: name 'variance' is not defined

In [ ]:
statistics.pvariance(belize_df["price"])

In [ ]:
# sample variance = 1 dof
#most of what we do in this class iwill be a sample
variance(belize_df['price'])

# standard deviation
standard deviation is the square root of variance
why because square dollars dont make sensce, its hard to un

In [13]:
statistics.stdev(belize_df["price"])

NameError: name 'statistics' is not defined

In [ ]:
belize_df[["price"]].agg([])

# covariance and correlation
covarians is to correlation what variance is to standard deveation
covariance tells us how much and to what extent 2 random variables change together. how much one variable change another variable changes

positive = how much will one variation change in the same direction

negative = variables changes in the opposite direction

correlation = (coravariton of x and y)/((standard deviation)(standard deviation of y)

In [ ]:
np.cov(belize_df["numeber_of_reveiws"], belize_df["price"])